<html>

<head>
<title>Tamara's CV</title>
</head>

<body>

<p>This is Tamara Jacod's CV</p>

<h2>Education</h2>
<ul>
<li>McGill University </li>
<ul>
<li>Bachelor of Education (Kind & Elementary)</li>
<ul>
</ul>
</ul>
<h2>Experience</h2>
<ul>
<li>PODS Program </li>
<ul>
<li> Statistical Inference and Analysis</li>
<li>Intermediate R skills (tidyverse, ggplot2, magrite, rbrokeh, gganimate and ggimage, tidyr, and maps packages)</li>
<li> Basics of Machine Learning, Shiny Apps, and text analysis </li>
<li> Data Visualization </li>
<li> Generate Dynamic Reports (R Markdown) </li>
<li> Basics Git and Github </li>
  <li>Being super cool</li>
  <li>Having a healthy morning routine that makes work feel like play</li>
  <li>Being skeptical of programming as a pertinent skill</li>
 
</ul>
<li>PODS Internship </li>
<ul>
Centre Intégré Universitaire de Santé et de Services Sociaux du Centre-sud-de-l'île-de-montréal, Direction Régionale de Santé Publique!
</ul>
</ul>
</ul>
  
<h2>Skills</h2>
</ul><li>contagious laughter</li>
<ul><li>coding mentor and friend</li>
</ul>

</body>
</html>

